<!--index.html-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>선거시스템</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="css/style.css">

</head>

<body>
<div class="navbar">
    <a href="/" id="logo">
        <img src="https://www.nec.go.kr/images/n21/common/logo.png" width="149">
    </a>
    <ul id="menu">
        <li><a href="/vote">투표하기</a></li>
    </ul>
</div>



<div class="products">
    <h3>후보자 퉁계</h3>
    <div class="product-list">
        <a class="product">
            <img src="https://i.namu.wiki/i/dbwFbogS1HdlhGfbr20wHHlGLDPclz7Mmp8jIbLXbDLqeGlFxw7nGGJSXMuaRiAw9WwQU8CXLPmvqAAUTZCGYGpw93YFiUEsYddbOkiNbQ6t9T1qnFW5Rm_x17s_PLwOZPxWUsX49_NIL2VtwhPUGA.webp" width="225">
            <div class="person-intro">
                후보1번
            </div>
            <div class="person-name">이승만</div>

        </a>

        <a class="product">
            <img src="https://i.namu.wiki/i/u5BrnXQROreaInN-nXWKsnTMwGj_ul6pkWcKIoZyMIxU0FiCA259g2LNZBj14ZqTzKlD4SV1BfSgnEI1JG5s-ZasXqmPmyHkfEQgfpQCzg7XrFyJJPtdl6-DjZ2N8e_-98slUZdP1n8sObSnZAlq4g.webp" width="225">
            <div class="person-intro">
                후보2번
            </div>
            <div class="person-name">윤보선</div>
        </a>

        <a class="product">
            <img src="https://i.namu.wiki/i/h1Rs2pYOu3ce9CwVqSMQmEXLgEq4xaN_CYJmJyCZp1jTJtdiXYT7fiYRj_u8LH4yv-1D2Bta_vCNp9Qb9D75HMa5CczKcs5KZh-Hbs06kuZ2mMrHxiPIrtgcW5NzAULmlPnf6axcFX7AuiEph_-G7Q.webp" width="225">
            <div class="person-intro">
                후보3번
            </div>
            <div class="person-name">박정희</div>
        </a>

        <a class="product">
            <img src="https://i.namu.wiki/i/dc8hriqnM0WKPWiR1iZFI358GH40zEtsD8EZiBbrtsGJfqZgflVKHyUk8RAWBQPVjvo856eZonAlfWef3CXq7Tdu_GPZW6K1zLI3Uy4g-1jn4Lv0qWIPB6ehBeOqQJLV_SLe9brK3xPX-W4HBJj52w.webp" width="225">
            <div class="person-intro">
                후보4번
            </div>
            <div class="person-name">최규하</div>
        </a>

        <a class="product">
            <img src="https://i.namu.wiki/i/muKQXRi3-JDvPEiA0gxnt8YgCXcrp3hrQxuz6PmbS1JuK_s4XNFkwpQVW1x0S5vlxei8fsmPuTcwX4ipqLZNTmlp-ZG4MrpH5kV3Dwuvov5SNUzDdAElMU3HxHYjD4NpnHfSi5Qf9e7tb8ae8kiKzw.webp" width="225">
            <div class="person-intro">
                후보5번
            </div>
            <div class="person-name">전두환</div>
        </a>

        <a class="product">
            <img src="https://i.namu.wiki/i/ebw_IcjPA4zZmoom3IBAJmKfm-Krfbhf74lY0vu1uzZ9CIShjWGMtAgFKUNHfdMHm9Y4A9jpmXP13OEmFjHh-CgvBFPjsxiAXIgKlJSIQ6ylWErcAnQja-Of7Rq8bUfVRS62NbPsTGUhg54fa5TFxA.webp" width="225">
            <div class="person-intro">
                후보6번
            </div>
            <div class="person-name">노태우</div>
        </a>

        <div class="clearfix"></div>
    </div>
</div>

<div class="footer">
    <a href="/statistics">통계</a>

</div>
</body>

</html>