<!--statistics.html-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>선거시스템</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="css/style.css">

</head>

<body>
<div class="wrap">
<div class="navbar">
    <ul id="menu">
        <li><a class="homeBtn" href="/">메인 페이지로 돌아가기</a></li>

    </ul>
</div>
    <h2>후보선택결과</h2>
<table>
    <tr>
        <th>이승만</th>
        <th>윤보선</th>
        <th>박정희</th>
        <th>최규하</th>
        <th>전두환</th>
        <th>노태우</th>
    </tr>
    <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
    </tr>
</table>
    <h2>후보선택결과(남성)</h2>
    <table>
        <tr>
            <th>이승만</th>
            <th>윤보선</th>
            <th>박정희</th>
            <th>최규하</th>
            <th>전두환</th>
            <th>노태우</th>
        </tr>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
        </tr>
    </table>

    <h2>후보선택결과(여성)</h2>
    <table>
        <tr>
            <th>이승만</th>
            <th>윤보선</th>
            <th>박정희</th>
            <th>최규하</th>
            <th>전두환</th>
            <th>노태우</th>
        </tr>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
        </tr>
    </table>
</div>


</body>

</html>