@charset "UTF-8";

#content{
    width: 1000px; margin: 5px auto;
    border: 0px solid red;
}
#content .slide_banner, #content .side_banner{
    height: 400px;
    float: left;
    border: 1px solid #CCCCCC;
    text-align: center;
    line-height: 400px;
}
#content .slide_banner{
    width: 700px; margin-top: 3px;
}
#content .side_banner{
    width: 287px; margin-top: 3px;
}
#content .hit_product, #content .md_product{
    width: 1000px;
    margin-top: 5px;
    border: 0px solid blue;
    overflow: hidden;
}
#content > .section2 li{
    width: 245px; height: 400px; float: left;
    margin-right: 5px;
    text-align: center;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    color: #282828;
    font-size: 1.1em;
    margin-bottom: 10px;
}
#content > .section2 p{
    border-bottom: 1px solid #d8d8d8;
}