<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="list.css" />
        <title>Histories</title>
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script src="list.js"></script>
    </head>
    <body>
        <h1>LIST</h1>
        <table class="list">
            <thead>
                <tr>
                    <th>no</th>
                    <th>color code</th>
                    <th>created</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <a href="/">go Home</a>
    </body>
</html>